/* odd row color */
.light-row {
    background-color: white;
}

/* even row color */
.dark-row {
    background-color:rgb(211, 211, 211,0.3);
}

/* overwrite the default ant-design table header bg color */
thead[class*="ant-table-thead"] th{
    background-color: rgb(169, 169, 169,0.5) !important;
  }
